.alert {
  text-align: center;
}

.container-fluid {
    padding: 0 8%;
  }

.navbar {
  padding-bottom: 50px;
}

.navbar-brand {
  font-weight: bolder;
}

.nav-item {
  padding: 0 10px;
  font-weight: bold;
}

.carouselimage {
  width: 40%;
  border-radius: 8%;
}

.imagesinmainsection {
  text-align: center;;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
  font-weight: bold;
}

h2 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
}

#main {
  background-color: #32e0c4;
  padding-bottom: 20px;
}

.wish {
  padding-top: 9px;
}

/* TOP BUTTON  */
#myBtn {
  font-weight: bold;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* FLIP CARD WISHES */

.row {
  padding-top: 5%;
}

.col-lg-4 {
  margin: auto;
}

.col-lg-6 {
  margin: auto;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #ecced4;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.vasudhabhabhi {
  font-size: 13.5px;
}

.ritvi {
  font-size: 12.5px;
}

.even-row {
  position: relative;
  left: 60px;
}

.flipwishtitle {
  font-weight: bold;
  font-family: 'Bellota', cursive;
}

.flipwishinstruction {
  font-weight: bold;
  text-align: center;
}

.saransh {
  font-size: 13.5px;
}
.gitthi {
  font-size: 15.5px;
}

.gudiadi {
  font-size: 12.5px;
}

.esha {
  font-size: 11.5px;
}

.riya {
  font-size: 14px;
}

.sejal {
  font-size: 11.5px;
}

.nimmi {
  font-size: 14.5px;
}

.tanvi {
  font-size: 14px;
}

.saloni {
  font-size: 11.4px;
}

.madhav {
  font: 12px;
}

.madhavreadmorelink {
  color: #000;
}


.row123 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column123 {
  flex: 50%;
  padding: 0 4px;
}

.column123 img {
  margin-top: 8px;
  vertical-align: middle;
}

/* SLIDESHOW GALLERY */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
#slideshowgalleryofimages {
  background-color: ##7be3fe;
}

.slideshowgallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
  padding-top: 50px;
  /* padding-bottom: 30px; */
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.all-images {
  padding-bottom: 20px;
}

/* THERE FOR YOU SECTION */

#thereforyou {
  padding-top: 50px;
  text-align: center;
  background-color: #e1ffc2;
  padding-bottom: 130px;
}

h3 {
  padding-bottom: 20px;
}

.contact-icons {
  width: 25%;
  padding-bottom: 30px;
}

h6 {
  text-align: center;
  position: relative;
  top: 100px;
}
